* {
  margin: 0;
  padding: 0;
}
:root {
  --select-border: #777;
  --select-focus: rgb(177, 131, 15);
  --select-arrow: var(--select-border);
}

body {
  background: rgb(195,136,34);
  background: radial-gradient(circle, rgba(195,136,34,0.6811099439775911) 27%, rgba(253,226,45,0.7987570028011204) 79%);
}
h1 {
  color:rgb(220, 98, 6);
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  text-align: center;
  @media only screen and (max-width: 752px) {
    margin-top:30px;
    }
}

.input_wrapper {
  display: flex;
  justify-content: center;
}

.zone {
  border-radius: 12px;
  font-family: "lato", sans-serif;
  font-size: 18px;
  margin-top: 50px;
  padding: 8px 10px;
  text-align: center;
}

.clock {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 38vh;
  left: 50%;
  margin-top:2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
  width: 38vh;
  @media only screen and (max-width: 752px) {
    margin-top:100px;
  
   }

}

.hand_seconds {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  font-weight: italic;
  height: 47%;
  margin-left: calc(50% - 1px);
  margin-top: 3%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 1px;
}

.hand_minutes {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  height: 47%;
  margin-left: calc(50% - 3px);
  margin-top: 3%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 3px;
}

.hand_hours {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  font-weight: bold;
  height: 30%;
  margin-left: calc(50% - 3px);
  margin-top: 20%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 3px;

}

.pin {
  background-color: goldenrod;
  border-radius: 50%;
  height: 1vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1vw;
}

.current-day {
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
}

.current-time {
  background: whitesmoke;
  border-radius: 6% 6% 6% 6%;
  bottom: 25%;
  columns: #000000;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateX(-50%);
  @media only screen and (max-width: 752px) {
    font-size: 0.9rem;
   }

}

.scala {
  border-radius: 10% 30% 10% 30%;
  height: 100%;
  left: calc(50% - 1px);
  position: absolute;
  top: 0;
  width: 2px;
}


.scala:nth-of-type(2) {
  transform: rotate(30deg);
}

.scala:nth-of-type(3) {
  transform: rotate(60deg);
}

.scala:nth-of-type(4) {
  transform: rotate(90deg);
}

.scala:nth-of-type(5) {
  transform: rotate(120deg);
}

.scala:nth-of-type(6) {
  transform: rotate(150deg);
}

.scala::after,
.scala::before {
  background-color: goldenrod;
  content: "";
  display: block;
  height: 8%;
  left: 0;
  position: absolute;
  width: 2px;
}

.scala::after {
  bottom: 0;
}

.scala::before {
  top: 0;
}

.cityValue {
  color: rgb(220, 98, 6);
  font-family: "Lato", sans-serif;
  font-size: 36px;
  margin-bottom:100px;
  margin-top: 100px;
  position: relative;
  text-align: center;
  top: 55vh;
  @media only screen and (max-width: 752px) {
   top:60vh;
   }
   
}

.input_wrapper select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: none;
  background-image: radial-gradient(circle, rgba(195, 136, 34, 0.686) 27%, rgba(195,136,34,0.6811099439775911) 79%);

  
  @media only screen and (max-width: 752px) {
  
     padding: 0.10em 0.1em;
     font-size: 1.5rem;
    }
}

.input_wrapper{
  box-sizing:border-box;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.zone {
  font-size: 1.5rem;
  color:rgb(220, 98, 6);
}