* {
  margin: 0;
  padding: 0;
}
:root {
  --select-border: rgba(193, 143, 18, 0.838);

}

body {
	animation: gradient 15s ease infinite;
  background: rgb(195,136,34);
  background: radial-gradient(circle,rgba(250, 158, 19, 0.797) ,rgba(216, 145, 22, 0.681) 27%, rgba(255, 208, 55, 0.799),rgba(253,226,45,0.7987570028011204),rgba(255, 245, 131, 0.783) 79%);
  background-size: 200% 200%;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  color:rgb(220, 98, 6);
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  text-align: center;
  @media screen and (max-width: 752px) {
    margin-top:30px;
    }
    @media screen and (max-width: 400px) {
      font-size:28px;
     }
}

.input_wrapper {
  display: flex;
  justify-content: center;
  width:200px;
}

.zone {
  appearance: none;
  border-radius: 12px;
  font-family: "lato", sans-serif;
  font-size: 18px;
  margin-top: 50px;
  padding: 8px 10px;
  text-align: center;
  
}


.clock {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 38vh;
  left: 50%;
  margin-top:2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
  width: 38vh;
  @media only screen and (max-width: 752px) {
    margin-top:100px;
  
   }

}

.hand_seconds {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  font-weight: italic;
  height: 47%;
  margin-left: calc(50% - 1px);
  margin-top: 3%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 1px;
}

.hand_minutes {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  height: 47%;
  margin-left: calc(50% - 3px);
  margin-top: 3%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 3px;
}

.hand_hours {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  font-weight: bold;
  height: 30%;
  margin-left: calc(50% - 3px);
  margin-top: 20%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 3px;

}

.pin {
  background-color: goldenrod;
  border-radius: 50%;
  height: 1vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1vw;
}

.current-day {
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
}

.current-time {
  background: whitesmoke;
  border-radius: 6% 6% 6% 6%;
  bottom: 25%;
  columns: #000000;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateX(-50%);
  @media only screen and (max-width: 752px) {
    font-size: 0.9rem;
   }

}

.scala {
  border-radius: 10% 30% 10% 30%;
  height: 100%;
  left: calc(50% - 1px);
  position: absolute;
  top: 0;
  width: 2px;
}


.scala:nth-of-type(2) {
  transform: rotate(30deg);
}

.scala:nth-of-type(3) {
  transform: rotate(60deg);
}

.scala:nth-of-type(4) {
  transform: rotate(90deg);
}

.scala:nth-of-type(5) {
  transform: rotate(120deg);
}

.scala:nth-of-type(6) {
  transform: rotate(150deg);
}

.scala::after,
.scala::before {
  background-color: goldenrod;
  content: "";
  display: block;
  height: 8%;
  left: 0;
  position: absolute;
  width: 2px;
}

.scala::after {
  bottom: 0;
}

.scala::before {
  top: 0;
}

.cityValue {
  color: rgb(220, 98, 6);
  font-family: "Lato", sans-serif;
  font-size: 36px;
  margin-bottom:100px;
  margin-top: 100px;
  position: relative;
  text-align: center;
  top: 55vh;
  @media screen and (max-width: 752px) {
   top:60vh;
   }
   @media screen and (max-width: 400px) {
    top:45vh;
   }
   
}

.input_wrapper select {
  background:
      no-repeat right 0.8em center / 1.5em,
    linear-gradient(to left,  rgba(255, 255, 255, 0)  79%, rgba(255, 255, 255, 0) 27%);
  background-color: transparent;
  background-image: linear-gradient(circle, rgba(206, 157, 71, 0.947) 27%, rgba(249, 215, 63, 0.681) 79%); 
  border: 1px solid var(--select-border);
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.1;
  max-width: 30ch;
  min-width: 15ch;
  padding: 0.25em 0.5em;
  position:relative;
  width: 100%;
  &:focus{
    outline:none;
  }
  @media only screen and (max-width: 752px) {
     font-size: 1.5rem;
  
     padding: 0.10em 0.1em;
    }   
}
.arrow{
   border-left: 12px solid transparent;
   border-radius: 12px;
   border-right: 12px solid transparent;
   border-top: 12px solid rgb(220, 98, 6);
   height: 0;
   justify-content: flex-end;
   margin-left:29em;
   margin-top: 4.25em;
   position:absolute;
   right:calc(center);
   top:calc(center );
   width: 0;;
   z-index:10;
   @media screen and (max-width: 752px) {
    margin-left:28em;
    margin-top:4.4em;
   }
   @media screen and (max-width: 550px) {
    margin-left:22em;
    margin-top:4.95em;
   }
   @media screen and (max-width: 400px) {
    margin-left:18em;
    margin-top:5.1em;
   }
}

.input_wrapper{
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing:border-box;
  cursor: inherit;
  display:flex;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0 1em 0 0;
  width: 100%;
  //position:relative;
}
.zone {
  color:rgb(220, 98, 6);
  font-size: 1.5rem;
}