* {
  margin: 0;
  padding: 0;
}

body {
  background-color:#fff;
}

h1 {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  text-align: center;
}

.input_wrapper {
  display: flex;
  justify-content: center;
}

.zone {
  margin-top: 50px;
  font-family: "lato", sans-serif;
  font-size: 18px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 12px;
}

.clock {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 38vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
  width: 38vh;


}

.hand_seconds {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  font-weight: italic;
  height: 47%;
  margin-left: calc(50% - 1px);
  margin-top: 3%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 1px;
}

.hand_minutes {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  height: 47%;
  margin-left: calc(50% - 3px);
  margin-top: 3%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 3px;
}

.hand_hours {
  background-color: goldenrod;
  border-radius: 10% 30% 10% 30%;
  font-weight: bold;
  height: 30%;
  margin-left: calc(50% - 3px);
  margin-top: 20%;
  position: absolute;
  transform-origin: 50% 100%;
  width: 3px;

}

.pin {
  background-color: goldenrod;
  border-radius: 50%;
  height: 1vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1vw;
}

.current-day {
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
}

.current-time {
  background: whitesmoke;
  border-radius: 6% 6% 6% 6%;
  bottom: 25%;
  columns: #000000;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateX(-50%);

}

.scala {
  border-radius: 10% 30% 10% 30%;
  height: 100%;
  left: calc(50% - 1px);
  position: absolute;
  top: 0;
  width: 2px;
}


.scala:nth-of-type(2) {
  transform: rotate(30deg);
}

.scala:nth-of-type(3) {
  transform: rotate(60deg);
}

.scala:nth-of-type(4) {
  transform: rotate(90deg);
}

.scala:nth-of-type(5) {
  transform: rotate(120deg);
}

.scala:nth-of-type(6) {
  transform: rotate(150deg);
}

.scala::after,
.scala::before {
  background-color: goldenrod;
  content: "";
  display: block;
  height: 8%;
  left: 0;
  position: absolute;
  width: 2px;
}

.scala::after {
  bottom: 0;
}

.scala::before {
  top: 0;
}

.cityValue {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  color: goldenrod;
  position: relative;
  top: 65vh;

}